{% load static %}
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Perpustakaan Mini{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'perpustakaan/style.css' %}">
</head>

<body>
<header class="navbar">
    <a class="brand" href="{% url 'dashboard' %}">Perpustakaan Mini</a>

    <nav>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'daftar_buku' %}">Buku</a>
        <a href="{% url 'daftar_kategori' %}">Kategori</a>
        <a href="{% url 'daftar_anggota' %}">Anggota</a>
        <a href="{% url 'daftar_peminjaman' %}">Peminjaman</a>

        <form method="post" action="{% url 'logout' %}" class="logout">
            {% csrf_token %}
            <button type="submit">Keluar</button>
        </form>
    </nav>
    <a href="{% url 'profil' %}">
    Profil ({{ request.user.username }})
    </a>

</header>

<main class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}
</main>

<footer>
    Sistem Manajemen Perpustakaan Mini
</footer>
</body>
</html>